/* Style de base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

/* Section À propos */
#about {
    padding: 40px 20px;
    text-align: center;
}

/* Section Projets */
#projects {
    padding: 40px 20px;
    background-color: #fff;
}

.project-gallery {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    background-color: #f9f9f9;
    padding: 20px;
    width: 250px;
    border: 1px solid #ddd;
    text-align: center;
}

.project-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.project-card h3 {
    margin: 10px 0;
}

/* Section Contact */
#contact {
    padding: 40px 20px;
    background-color: #333;
    color: white;
    text-align: center;
}

#contact form {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    gap: 10px;
}

#contact input,
#contact textarea {
    padding: 10px;
    width: 100%;
    margin: 5px 0;
}

#contact button {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: solid;
    color: white;
    cursor: pointer;
}

#contact button:hover {
    background-color: #45a049;
}

/* Pied de page */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
