@import url(./init.css);
@import url(./footer.css);
@import url(./navbar.css);

main .socials {
    z-index: 999;
    position: fixed;
    top: 80px;
    right: 10px;
    display: flex;
    gap: 5px;
}

main .socials a {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background: var(--c-primary-color);
    color: var(--c-white);
    transition: height 200ms ease;
}

main .socials a:hover {
    height: 40px;
}

section {
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
    padding: 1rem;
}

section#home {
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    height: calc(100dvh - 80px);
    justify-content: center;
    gap: 35px;
    text-align: center;
}

section:not(#home) h1 {
    position: relative;
    text-transform: uppercase;
    font-size: 30px;
}

section:not(#home) h1::after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 4px;
    background: var(--c-primary-color);
    border-radius: 20px;
}

section#home h1 {
    font-size: 35px;
}

section#home p {
    font-size: 20px;
    color: var(--c-text-muted);
}

section#home a {
    padding: 15px 30px;
    background: var(--c-primary-color);
    border-radius: 6px;
    color: var(--c-white);
    font-size: 20px;
    position: relative;
    transition: all 300ms ease;
    z-index: 1;
}

section#home a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 6px;
    background: var(--c-secondary-color);
    z-index: -1;
    transition: all 300ms ease;
}

section#home a:hover::after {
    width: 100%;
    transition: all 500ms ease;
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.biomediff {
    width: 100%;
    height: 3px;
    background-color: var(--c-primary-color);
    margin: 75px 0;
}

section#stage h1 {
    font-size: 30px;
    margin-bottom: 50px;
}

section#stage p {
    font-size: 19px;
}

.fleximg {
    display: flex;
    align-items: center;
}

.fleximg .titimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--c-carte-color);
    border-radius: 10px;
    gap: 50px;
}

.fleximg .titimg img {
    width: 200px;
    margin-top: 20px;
    border-radius: 10px;
}

.fleximg .titimg .flexlink a {
    display: flex;
    font-size: 5px;
}

.titimg:hover {
    transform: scale(106%);
    transition: 1s;
}

section#realisation h1 {
    margin-bottom: 50px;
}